label {
    position: relative;
    left: auto;
    display: block;
    margin: 10px;
    
}


.box {
    position: relative;
    left: 8rem;
    width: 500px;
    height: 700px;
    background-color: rgb(83, 22, 22);
    border-radius: 5%;
    display: block;
}

.formBox {
    position: relative;
    left: 2rem;
    top: 2rem;
}

#submitB {
    display: block;
    position: relative;
    left: 15rem;
    padding: 10px 17px;
}